@using LearnEF.Entities
@model IEnumerable<Learn>

@{
    ViewData["Title"] = "Список";
}

<h1>Список материалов</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Название</label>
            </th>
            <th>
                <label>Дата создания</label>
            </th>
            <th>
                <label>Ресурс</label>
            </th>
            <th>
                <label>Статус</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            @Html.DisplayFor(modelItem => item, "LearnList")
        }   
    </tbody>
</table>
