@model LearnEF.Entities.IdentityModel.OnlyEmail

@{
    ViewBag.Title = "Изменение пароля";
}

<h2>Изменение пароля для пользователя</h2>

<div class="row">
    <div class="col-md-4 mt-5">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Email" class="control-label fs-4"></label><br />
                <input asp-for="Email" class="form-control mt-2"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Отправить код" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>