@model LearnEF.Entities.IdentityModel.UserChangePassword

@{
    ViewBag.Title = "Изменение пароля";
}

<h2>Изменение пароля для пользователя @Model.Email</h2>

<div class="row">
    <div class="col-md-4 mt-5">
        <form asp-action="CodeChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Email"/>
            <input type="hidden" asp-for="CountAttempts" value="@Model.CountAttempts"/>
            <div>
                <label asp-for="Password" class="control-label fs-4"></label>
                <input asp-for="Password" class="form-control mt-2"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PasswordConfirm" class="control-label fs-4"></label>
                <input asp-for="PasswordConfirm" class="form-control mt-2"/>
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="CodeInMessage" class="control-label fs-4"></label>
                <input asp-for="CodeInMessage" class="form-control mt-2"/>
                <span asp-validation-for="CodeInMessage" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Изменить" class="btn btn-primary" id="aboba"/>
            </div>
        </form>
    </div>
</div>
