@using LearnEF.Entities
@model Learn

@*Использование собственного стиля для дескриптора <select>
    Необходимо указать в атрибуте class*@
<style>
  .select {
    padding: 10px;
    width: 300px;
    font-size:16px;
    border: 1px solid teal;
    border-bottom: 3px solid teal;
  }
</style>

<h4>Материал</h4>
<hr/>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-group mt-3">
    <a href="@Model?.Link" target="_blank">
        <img src="@Model?.Image"
        width="300"/>
    </a>
</div>

<div class="form-group mt-3">
    <label asp-for="Title" class="control-label fs-4"></label>
    <input asp-for="Title" class="form-control mt-2"/>
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

<div class="form-group mt-3">
    <label asp-for="Link" class="control-label fs-4"></label>
    <input asp-for="Link" class="form-control mt-2"/>
    <span asp-validation-for="Link" class="text-danger"></span>
</div>

<div class="form-group mt-3">
    <label asp-for="CreateDate" class="control-label fs-4"></label>
    <input asp-for="CreateDate" class="form-control mt-2"/>
    <span asp-validation-for="CreateDate" class="text-danger"></span>
</div>

<div class="form-group mt-3">
    <label asp-for="DateReading" class="control-label fs-4"></label>
    <input asp-for="DateReading" class="form-control mt-2"/>
    <span asp-validation-for="DateReading" class="text-danger"></span>
</div>

<div class="form-group mt-3">
    <label asp-for="Image" class="control-label fs-4"></label>
    <input asp-for="Image" class="form-control mt-2"/>
    <span asp-validation-for="Image" class="text-danger"></span>
</div>

<div class="form-group mt-3">
    <label asp-for="SourceLoreId" class="control-label fs-4"></label>
    <select asp-for="SourceLoreId" asp-items="ViewBag.SourceLoreId" class="select form-control mt-2"></select>
    <span asp-validation-for="SourceLoreId" class="text-danger"></span>
</div>

<div class="form-group mt-3">
    <label asp-for="IsStudying" class="control-label fs-4"></label>
    <input asp-for="IsStudying"/>
    <span asp-validation-for="IsStudying" class="text-danger"></span>
</div>
